@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.rancho {
  font-family: "Rancho", cursive;
}

a.active {
  color: red;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev,
.slick-next {
  display: none !important;
  /* z-index: 10; */
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f9fafb;
  --color-primary-dark: #070F2B;
  --color-secondary: #ff3539;
  --color-text-light: #1e2939; 
  --color-text-dark: #e5e7eb;
  
}

